.page{
    min-height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(42,1,23);
    font-size: 50px;
    margin-bottom: 8px;
}

.taskList{
    width: 75%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.taskCard{
    background-color: rgb(229,227,227);
    border: 2px solid pink;
    border-radius: 14px;
    padding: 25px;
    text-align: left;
}

.taskCard h2{
    color: rgb(42,1,23);
    margin-bottom: 15px;
}

.taskCard p{
    margin-bottom: 9px;

}
.taskActions{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.editBtn, .archiveBtn{
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: inherit;
}


.editBtn{
    background-color: rgb(42,1,23);
    color: white;
}

.archiveBtn{
    background-color: rgb(245, 102, 176);
    color: rgb(42,1,23);
}

.filters{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.filters button{
    padding: 12px 25px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

.filters button:nth-child(1){
    background-color: rgb(42,1,23);
    color: white;
}

.filters button:nth-child(2){
    background-color: rgb(245, 102, 176);
    color: rgb(42,1,23);
}

.filters button:nth-child(3){
    background-color: rgb(229,227,227);
    color: rgb(42,1,23);
    border: 2px solid pink;
}

.filters button:hover{
    opacity: 0.85;
}

.clickedBtn{
    background-color: rgb(0, 0, 0);
    color: rgb(248, 245, 247);

}

.taskMessage{
    text-align: center;
    font-size: 20px;
    margin: 0 0 20px;
    opacity: 0.7;
    font-weight: 700;
}

.pageMessage{
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
    opacity: 0.8;
    margin: 0 0 20px;
}

.sortCard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}
.sortCard label{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.sortCard select{
    padding: 8px 12px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 6px;

}