.page{
    min-height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(42,1,23);
    font-size: 50px;
    margin-bottom: 50px;
}

.taskList{
    width: 75%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.taskCard{
    background-color: rgb(229,227,227);
    border: 2px solid pink;
    border-radius: 14px;
    padding: 25px;
    text-align: left;
}

.taskCard h2{
    color: rgb(42,1,23);
    margin-bottom: 15px;
}

.taskCard p{
    margin-bottom: 9px;

}
.taskActions{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.editBtn, .archiveBtn{
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: inherit;
}
button.archiveBtn{
    appearance: none;
}

.editBtn{
    background-color: rgb(42,1,23);
    color: white;
}

.archiveBtn{
    background-color: rgb(245, 102, 176);
    color: rgb(42,1,23);
}